#weatherdata {
	padding-top: 10px;
	padding-bottom: 50px;
}
.card {
	padding: 1.5em 0.5em 0.5em;
	border-radius: 2em;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 1px auto;
}
.card-body {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#temperature {
	font-size: 30px;
	font-weight: bolder;
}
#hometext {
	padding-top: 30px;
}
#selectacity {
	font-size: 15px;
	padding-bottom: 5px;
}
/* #searchbar {
	width: 50%;
} */
