#resultcontainer {
	/* height: 600px; */
	padding: 10px;
	width: 300px;
}
/* .wrapper {
	display: grid; 
	grid-template-columns: repeat(4, 200px);
	grid-auto-rows: 50px;
	grid-gap: 10px;
	width: 516px;
}  */
#locationincon {
	padding: 5px;
	font-size: 40px;
	justify-content: center;
	text-align: center;
	align-items: center;
}
#highlights {
	background-color: #1d3557;
	margin: 2px;
}
#tempfont {
	font-size: 30px;
	font-weight: bolder;
}
#forecastcontainer {
	padding-bottom: 70px;
	width: 500px;
	max-width: 320px;
}
#containerforname {
	padding-top: 30px;
}
#forecasttext {
	padding: 5px;
}
#tempforecast {
	font-size: 20px;
}
#allforecastcards {
	border: solid white;
	border-radius: 12px;
	margin-top: 10px;
}
